@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Hakkımızda Daha Fazla Bilgi. <a href="http://www.nuritiras.com">Mehmetcan Çelik</a>.</p>
</div>
